<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hair Cuts</title>
    <link rel="stylesheet" type="text/css" href="../style/style.css">
</head>
<body>
    <div class="container">
        <h1>Hair Colors</h1>
        <ul>
            
        </ul>
      </div>
</body>
</html>